.Other {
    background-color: rgb(112, 217, 255);
    color: white;
}
.Food {
    background-color: rgb(9, 89, 187);
    color: white;
}
.Clothing {
    background-color: rgb(218, 101, 47);
    color: black;
}
.Entertainment {
    background-color: rgb(211, 195, 76);
    color: black;
}
