<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Calendar Home Page</title>
<hr />
  <body> 
  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>

<div class="jumbotron">
  <h1 class="display-4">Welcome to your Cash Calendar home page!</h1>
  <p class="lead">See a calendar of all your monthly transactions, modify and add transactions, change your calendar theme, and other cool stuff.</p>
  
  <br>
  <button class="btn btn-dark" href=link>Edit Transactions</button>
  <button class="btn btn-dark" onclick="">View a List of Common Transactions</button>

  <div class = "float-right">
  <button class="btn btn-dark" onclick="">Account Settings</button>

</div>
<br>
<br>
<br>

<label for="themes">Choose a theme:</label>
<select id="themes" name="theme">
  <option value="light">Light</option>
  <option value="dark">Dark</option>

</select>

<br>
<br>
<br>



  
  <!-- this script is from MindBody -->


  <link href="themes/peach.css" rel="stylesheet" />
      
  </head>
  <body>
  <div id="calendar" style="position: absolute ;width: 70%; height: 70%;">
  
    <br>
    <br>
  </div>
        
  <script src="MindFusion.Scheduling.js" type="text/javascript"></script>
  <script src="MyFirstSchedule.js" type="text/javascript"></script>

  <div class="float-right" style="width: 25%; ">
    <div class="card border-dark mb-3">
    <h5 class="card-header">Analysis Tab</h5>
    <div class="card-body text-dark">
      <p class="card-text">Here is the analysis of your spending habits. You can view the daily, weekly, or monthly patterns of how you spend your money etc etc.</p>
    </div>
  </div>
</div>

<br>
<br>
<br>
</body>


</div>

</body>
</html>
    </div>
  </body>
</html>
